.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.clase0 {
background-color: red;
color: white;
padding: 0.5em 1em;
border-radius: 0.4rem;
margin: 1rem;
}

.clase1 {
background-color: bisque;
color: black;
padding: 0.5em 1em;
border-radius: 0.4rem;
margin: 1rem;
font-weight: 500;
}

.clase2{
  background-color: rgb(71, 189, 71);
  padding: 0.5em 1em;
  border-radius: 0.4rem;
  margin: 1rem;
} 

.clase3 {
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.4rem;
  margin: 1rem;
} 

